In [1]:
import pandas as pd
import numpy as np

# Load the CSV file into a DataFrame
df = pd.read_csv('/Users/simonponce/Desktop/Class Project 08_2024/Ty Incident_Management/Incident_Management/incident_event_log.csv')

In [2]:
df.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,?,?,?,?,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141712 entries, 0 to 141711
Data columns (total 36 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   number                   141712 non-null  object
 1   incident_state           141712 non-null  object
 2   active                   141712 non-null  bool
 3   reassignment_count       141712 non-null  int64
 4   reopen_count             141712 non-null  int64
 5   sys_mod_count            141712 non-null  int64
 6   made_sla                 141712 non-null  bool
 7   caller_id                141712 non-null  object
 8   opened_by                141712 non-null  object
 9   opened_at                141712 non-null  object
 10  sys_created_by           141712 non-null  object
 11  sys_created_at           141712 non-null  object
 12  sys_updated_by           141712 non-null  object
 13  sys_updated_at           141712 non-null  object
 14  contact_type             141712 non-null  object
 15  location                 141712 non-null  object
 16  category                 141712 non-null  object
 17  subcategory              141712 non-null  object
 18  u_symptom                141712 non-null  object
 19  cmdb_ci                  141712 non-null  object
 20  impact                   141712 non-null  object
 21  urgency                  141712 non-null  object
 22  priority                 141712 non-null  object
 23  assignment_group         141712 non-null  object
 24  assigned_to              141712 non-null  object
 25  knowledge                141712 non-null  bool
 26  u_priority_confirmation  141712 non-null  bool
 27  notify                   141712 non-null  object
 28  problem_id               141712 non-null  object
 29  rfc                      141712 non-null  object
 30  vendor                   141712 non-null  object
 31  caused_by                141712 non-null  object
 32  closed_code              141712 non-null  object
 33  resolved_by              141712 non-null  object
 34  resolved_at              141712 non-null  object
 35  closed_at                141712 non-null  object
dtypes: bool(4), int64(3), object(29)
memory usage: 35.1+ MB

In [4]:
df_incident = df.replace('?',np.nan)

In [5]:
df_incident

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141707,INC0120835,Closed,False,1,0,4,True,Caller 116,Opened by 12,16/2/2017 09:09,...,True,Do Not Notify,NaN,NaN,NaN,NaN,code 9,Resolved by 9,16/2/2017 09:53,16/2/2017 09:53
141708,INC0121064,Active,True,0,0,0,True,Caller 116,Opened by 12,16/2/2017 14:17,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38
141709,INC0121064,Active,True,1,0,1,True,Caller 116,Opened by 12,16/2/2017 14:17,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38
141710,INC0121064,Resolved,True,1,0,2,True,Caller 116,Opened by 12,16/2/2017 14:17,...,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38
141711,INC0121064,Closed,False,1,0,3,True,Caller 116,Opened by 12,16/2/2017 14:17,...,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38

In [6]:
df_incident = df.replace('?',np.nan)

In [7]:
df_incident = df_incident.drop(columns=['number'])
df_incident = df_incident.drop(columns=['incident_state'])
df_incident

,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,...,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at
0,True,0,0,0,True,Caller 2403,Opened by 8,29/2/2016 01:16,Created by 6,29/2/2016 01:23,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
1,True,0,0,2,True,Caller 2403,Opened by 8,29/2/2016 01:16,Created by 6,29/2/2016 01:23,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
2,True,0,0,3,True,Caller 2403,Opened by 8,29/2/2016 01:16,Created by 6,29/2/2016 01:23,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
3,False,0,0,4,True,Caller 2403,Opened by 8,29/2/2016 01:16,Created by 6,29/2/2016 01:23,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00
4,True,0,0,0,True,Caller 2403,Opened by 397,29/2/2016 04:40,Created by 171,29/2/2016 04:57,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141707,False,1,0,4,True,Caller 116,Opened by 12,16/2/2017 09:09,NaN,NaN,...,True,Do Not Notify,NaN,NaN,NaN,NaN,code 9,Resolved by 9,16/2/2017 09:53,16/2/2017 09:53
141708,True,0,0,0,True,Caller 116,Opened by 12,16/2/2017 14:17,NaN,NaN,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38
141709,True,1,0,1,True,Caller 116,Opened by 12,16/2/2017 14:17,NaN,NaN,...,False,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38
141710,True,1,0,2,True,Caller 116,Opened by 12,16/2/2017 14:17,NaN,NaN,...,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38
141711,False,1,0,3,True,Caller 116,Opened by 12,16/2/2017 14:17,NaN,NaN,...,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38

In [8]:

# Sean messing around
def grab_number(value):
    if value == "?":
        return -1
    return value.split(" ")[1]
# df['caller_id'].str.split(" ").apply(lambda x: x[0]).value_counts()
df['caller_id'].apply(grab_number).astype(int)

0         2403
1         2403
2         2403
3         2403
4         2403
          ...
141707     116
141708     116
141709     116
141710     116
141711     116
Name: caller_id, Length: 141712, dtype: int64

In [9]:
df_incident['opened_at'] = pd.to_datetime(df_incident['opened_at'])
df_incident['year'] = df_incident['opened_at'].dt.year
df_incident['month'] = df_incident['opened_at'].dt.month
df_incident['day'] = df_incident['opened_at'].dt.day
df_incident['hour'] = df_incident['opened_at'].dt.hour
df_incident['minute'] = df_incident['opened_at'].dt.minute
df_incident['second'] = df_incident['opened_at'].dt.second

df_incident

/var/folders/yv/1k6t_v4x7798wpq87ddlnmjw0000gn/T/ipykernel_1186/2980537453.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_incident['opened_at'] = pd.to_datetime(df_incident['opened_at'])

,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,...,closed_code,resolved_by,resolved_at,closed_at,year,month,day,hour,minute,second
0,True,0,0,0,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,...,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00,2016,2,29,1,16,0
1,True,0,0,2,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,...,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00,2016,2,29,1,16,0
2,True,0,0,3,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,...,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00,2016,2,29,1,16,0
3,False,0,0,4,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,...,code 5,Resolved by 149,29/2/2016 11:29,5/3/2016 12:00,2016,2,29,1,16,0
4,True,0,0,0,True,Caller 2403,Opened by 397,2016-02-29 04:40:00,Created by 171,29/2/2016 04:57,...,code 5,Resolved by 81,1/3/2016 09:52,6/3/2016 10:00,2016,2,29,4,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141707,False,1,0,4,True,Caller 116,Opened by 12,2017-02-16 09:09:00,NaN,NaN,...,code 9,Resolved by 9,16/2/2017 09:53,16/2/2017 09:53,2017,2,16,9,9,0
141708,True,0,0,0,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,...,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38,2017,2,16,14,17,0
141709,True,1,0,1,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,...,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38,2017,2,16,14,17,0
141710,True,1,0,2,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,...,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38,2017,2,16,14,17,0
141711,False,1,0,3,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,...,code 6,Resolved by 9,16/2/2017 16:38,16/2/2017 16:38,2017,2,16,14,17,0

In [10]:
# Sean messing around
def grab_number(value):
    if value == "?":
        return -1
    return value.split(" ")[1]
# df['caller_id'].str.split(" ").apply(lambda x: x[0]).value_counts()
df['caller_id'].apply(grab_number).astype(int)

0         2403
1         2403
2         2403
3         2403
4         2403
          ...
141707     116
141708     116
141709     116
141710     116
141711     116
Name: caller_id, Length: 141712, dtype: int64

In [11]:
# Splitting the 'opened_at', 'resolved_at', and 'closed_at' dates into separate Day, Month, and Year columns
# For 'opened_at'
df_incident['opened_day'] = pd.to_datetime(df_incident['opened_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.day
df_incident['opened_month'] = pd.to_datetime(df_incident['opened_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.month
df_incident['opened_year'] = pd.to_datetime(df_incident['opened_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.year
# For 'resolved_at'
df_incident['resolved_day'] = pd.to_datetime(df_incident['resolved_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.day
df_incident['resolved_month'] = pd.to_datetime(df_incident['resolved_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.month
df_incident['resolved_year'] = pd.to_datetime(df_incident['resolved_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.year
# For 'closed_at'
df_incident['closed_day'] = pd.to_datetime(df_incident['closed_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.day
df_incident['closed_month'] = pd.to_datetime(df_incident['closed_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.month
df_incident['closed_year'] = pd.to_datetime(df_incident['closed_at'], format="%d/%m/%Y %H:%M", dayfirst=True).dt.year

# Display the first few rows of the new columns to verify the splitting
df_incident[['opened_day', 'opened_month', 'opened_year',
               'resolved_day', 'resolved_month', 'resolved_year',
               'closed_day', 'closed_month', 'closed_year']].head()

,opened_day,opened_month,opened_year,resolved_day,resolved_month,resolved_year,closed_day,closed_month,closed_year
0,29,2,2016,29.0,2.0,2016.0,5,3,2016
1,29,2,2016,29.0,2.0,2016.0,5,3,2016
2,29,2,2016,29.0,2.0,2016.0,5,3,2016
3,29,2,2016,29.0,2.0,2016.0,5,3,2016
4,29,2,2016,1.0,3.0,2016.0,6,3,2016

In [12]:
# Splitting the 'opened_at', 'resolved_at', and 'closed_at' dates into separate Day, Month, and Year columns
# For 'opened_at'
df_incident['opened_day'] = pd.to_datetime(df_incident['opened_at']).dt.day
df_incident['opened_month'] = pd.to_datetime(df_incident['opened_at']).dt.month_name()
df_incident['opened_year'] = pd.to_datetime(df_incident['opened_at']).dt.year
# For 'resolved_at'
df_incident['resolved_day'] = pd.to_datetime(df_incident['resolved_at']).dt.day
df_incident['resolved_month'] = pd.to_datetime(df_incident['resolved_at']).dt.month_name()
df_incident['resolved_year'] = pd.to_datetime(df_incident['resolved_at']).dt.year
# For 'closed_at'
df_incident['closed_day'] = pd.to_datetime(df_incident['closed_at']).dt.day
df_incident['closed_month'] = pd.to_datetime(df_incident['closed_at']).dt.month_name()
df_incident['closed_year'] = pd.to_datetime(df_incident['closed_at']).dt.year
# Display the first few rows of the new columns to verify the splitting
df_incident[['opened_day', 'opened_month', 'opened_year',
               'resolved_day', 'resolved_month', 'resolved_year',
               'closed_day', 'closed_month', 'closed_year']].head()

/var/folders/yv/1k6t_v4x7798wpq87ddlnmjw0000gn/T/ipykernel_1186/1324048862.py:7: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_incident['resolved_day'] = pd.to_datetime(df_incident['resolved_at']).dt.day
/var/folders/yv/1k6t_v4x7798wpq87ddlnmjw0000gn/T/ipykernel_1186/1324048862.py:8: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_incident['resolved_month'] = pd.to_datetime(df_incident['resolved_at']).dt.month_name()
/var/folders/yv/1k6t_v4x7798wpq87ddlnmjw0000gn/T/ipykernel_1186/1324048862.py:9: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_incident['resolved_year'] = pd.to_datetime(df_incident['resolved_at']).dt.year

ValueError: time data "24/3/2016 18:40" doesn't match format "%m/%d/%Y %H:%M", at position 10. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df_incident['closed_month'] = pd.to_datetime(df_incident['closed_at'], format='%d/%m/%Y %H:%M').dt.month

In [ ]:
# Convert the month names back to integers (1 for January, 2 for February, etc.)
df_incident['opened_month'] = pd.to_datetime(df_incident['opened_at']).dt.month
df_incident['resolved_month'] = pd.to_datetime(df_incident['resolved_at']).dt.month
df_incident['closed_month'] = pd.to_datetime(df_incident['closed_at']).dt.month
# Display the first few rows to confirm the conversion
df_incident[['opened_month', 'resolved_month', 'closed_month']].head()
#fixing ? in the resolved_at column
df_incident['resolved_month'] = pd.to_datetime(df_incident['resolved_at'], format='%d/%m/%Y %H:%M', errors='coerce').dt.month

/var/folders/yv/1k6t_v4x7798wpq87ddlnmjw0000gn/T/ipykernel_57289/2064102503.py:3: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_incident['resolved_month'] = pd.to_datetime(df_incident['resolved_at']).dt.month

ValueError: time data "24/3/2016 18:40" doesn't match format "%m/%d/%Y %H:%M", at position 10. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

0         2403
1         2403
2         2403
3         2403
4         2403
          ...
141707     116
141708     116
141709     116
141710     116
141711     116
Name: caller_id, Length: 141712, dtype: int64

In [ ]:
df_incident = df.drop(columns=['incident_state'])
df_incident = df.drop(columns=['number'])